# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# reports in progress and other files
private_docs

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Output figures and data files
output

#archived code
code/archive

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html

# macOS desktop services store
.DS_Store

# Large data and output files
processed_data
