# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Output figures and data files
output/*.pdf
output/*.Rdata

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
docs

# macOS desktop services store
.DS_Store

# Large data and output files

data/freshwater/spatial/PCIC_indicators
data/freshwater/spatial/bcfishpass.gdb
data/freshwater/spatial/bcfishpass_migrations.gdb
data/freshwater/processed-data
